body {
  font-family: Arial, Helvetica, sans-serif;
}
/*
.form_info {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}*/

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancel {
  width: 100%;
  padding: 10px 18px;
  background-color: #f44336;
}

.logoContainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.logo {
  width: 30%;
  border-radius: 0%;
}

.userInputs {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.reg-Form {
  background-color: #fefefe;
  margin: auto; 
  border: 10px solid #888;
  width: 20%;
}

.close {
  position: absolute;
  right: 20px;
  top: -10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}