<script defer src="../js/login.js"></script>

<main>
    <h1 id=title>{{ title }}</h1>
    <form id="login" class="reg-Form">
        <input class="form_info" type="text" name="tUname" id="tName" placeholder="User Name"><br>

        <input class="form_info" type="password" name="pWord" id="pPassword" placeholder="Password"><br>

        <button type="submit">Submit</button><br>
        <a href="recoverAcc">Forgot Password?</a><br>
        <a href="register">Create New Account</a>
    </form>
</main>
