<script>
    $(() => {
      const DELAY = 10000;
      var time = 10;
      $('.modal').hide();
      $('button').click(() => {
        $('.modal').show();
        $('#timer').html(String(time + 's'));
        setTimeout(() => { $(window).attr('location', 'login') }, DELAY);
      });
    })
</script>


<main>
    <h1 id=title>{{ title }}</h1>
    <img class="image1" src="../srcs/pic1.jpg">
    <button type="button">Logout</button>

    <div id="id01" class="modal">
        <h1 class="container">You will return to login page in <span id='timer'></span></h1>
    </div>
</main>