<script defer src="../js/search.js"></script>

<main>
    <h1 id=title>{{ title }}</h1>
    <form>
        <input type="text" id="search">
        <button id="submit">Search</button>
    </form>
</main>