.logoContainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.logo {
  width: 30%;
  border-radius: 0%;
}

.userInputs {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/*originally by P. Tolentino*/
.close {
  position: absolute;
  right: 20px;
  top: -10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}
